<div class="side_bar_top">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat_new">
    <a href="###">チャットを作成する</a>
  </div> 
</div>

<div class="side_bar_bottom">
  <div class="chat_names">
    <div class="chat_name">
      <a href="###">Chatroom1</a>
    </div>
  </div>
  <div class="chat_names">
    <div class="chat_name">
      <a href="###">Chatroom1</a>
    </div>
  </div>
</div>