.wrapper{
  display: flex;
}

.side_bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.chat_main{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.side_bar_top{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.side_bar_bottom{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.chat_main_top{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.chat_main_middle{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.chat_main_bottom{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}

.user_name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.chat_new a{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.chat_names{
  padding: 20px 0 40px 0;
}

.chat_name a{
  color: white;
  text-decoration: none;
}